---
import LocationIcon from "assets/FooterIcons/LocationIcon.svg"
import CompanyIcon from "assets/CompanyIcons/BellaIcon.png"
import { Image } from "astro:assets";
---

<footer class="bg-primaryRed flex justify-center items-center p-16 flex-col lg:flex-row">
    <div class="py-16">
        <h6 class="text-center font-footer text-[#fff] font-semibold text-5xl mb-4">Toruń</h6>
        <div class="flex mb-7">
            <img src={LocationIcon.src} alt="Ikona Lokalizacji" class=" pr-4">
            <p class="font-footer text-[#fff] font-medium text-3xl self-end"><a href="https://www.google.com/maps/place/Stanis%C5%82awa+%C5%BB%C3%B3%C5%82kiewskiego+8,+87-100+Toru%C5%84/@53.0237857,18.6344769,17z/data=!3m1!4b1!4m6!3m5!1s0x470334c6ac0c34af:0xb65a533c8aa3df1e!8m2!3d53.0237857!4d18.6344769!16s%2Fg%2F11c20d3krw?entry=ttu" target="_blank"> ul. Żółkiewskiego 8,</a><a href="tel:+48566530111" target="_blank"></a> tel. 56 65 30 111</a></p>
        </div>
        <div class="flex">
            <img src={LocationIcon.src} alt="Ikona Lokalizacji" class=" pr-4">
            <p class="font-footer text-[#fff] font-medium text-3xl self-end"><a href="https://www.google.com/maps/place/Orl%C4%85t+Lwowskich+9%2F11,+87-100+Toru%C5%84/@53.0390872,18.5979481,17z/data=!4m6!3m5!1s0x47033461e6056cb5:0x3b143d21d9112bb4!8m2!3d53.039084!4d18.600523!16s%2Fg%2F11c2gp37g1?entry=ttu" target="_blank"></a> ul. Orląt Lwowskich 9-11,</a><a href="tel:+48503720160" target="_blank"></a> tel. 503 720 160</a></p>
        </div>
    </div>
    <div>
        <Image src={CompanyIcon} alt="Ikona Bella Line" class=" mx-36 -order-1 lg:order-[unset]">
        </Image>
    </div>
    <div>
        <h6 class="text-center font-footer text-[#fff] font-semibold text-5xl mb-4">Bydgoszcz</h6>
        <div class="flex mb-7">
            <img src={LocationIcon.src} alt="Ikona Lokalizacji" class=" pr-4">
            <p class="font-footer text-[#fff] font-medium text-3xl self-end"><a href="https://www.google.com/maps/place/Toru%C5%84ska+59,+85-023+Bydgoszcz/data=!4m2!3m1!1s0x4703138e1282760b:0x54b24d00cdf5a87b?sa=X&ved=2ahUKEwjL8daM7Mz_AhXCrIsKHVrCDZwQ8gF6BAgTEAI" target="_blank"> ul. Toruńska 59,</a><a href="tel:+48795661654" target="_blank"> tel. 795 661 654</a> </p>
        </div>
        <div class="flex">
            <img src={LocationIcon.src} alt="Ikona Lokalizacji" class=" pr-4">
            <p class="font-footer text-[#fff] font-medium text-3xl self-end"><a href="https://www.google.com/maps/place/Nakielska+86,+85-358+Bydgoszcz/@53.1317766,17.94438,347m/data=!3m1!1e3!4m6!3m5!1s0x47031269ec98dc01:0xf86163943e0158e6!8m2!3d53.1317995!4d17.9460218!16s%2Fg%2F11gxmf8t3v?entry=ttu" target="_blank"> ul. Nakielska 86,</a><a href="tel:+48570203030" target="_blank"> tel. 570 20 30 30</a></p>
        </div>
    </div>
</footer>